header{
    background-color: #36382E;
    color: #dadad9;
}
body{
    background-color: #dadad9;
}
footer{
    padding: 15px;
    background-color: #36382E;
    color: #EDE6E3;
}
h1{
    text-align: center;
}

.BmiHead{
    text-align: left;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 15px;
    text-decoration: none;
}

nav a{
    color: #36382E;
    padding-left: 10px;
}
nav a:link{
    color: #36382E;
    
}
nav a:visited{
    color:#df2f234f
}
nav a:hover{
    color: #F06449;
}
canvas{
    text-align: center;
    /*margin-left: 200px;*/
}
.popup{
    border: 10px black;
}
form {
  width: 50%;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.avatar img{
    align-content: center;
}